Repository witzbeck/master_proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check, latex-pdf-cleanup

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock --no-update
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        types: [json]
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, pyproject.toml, --unsafe-fixes]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, pyproject.toml]

  - repo: local
    hooks:
      - id: rm-old-covertura
        name: Remove old covertura reports
        entry: rm -rf .coverage .coverage.xml htmlcov
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest-check
        name: pytest with coverage
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.0
    hooks:
      - id: sqlfluff-fix
        name: SQLFluff Fix
        types: [sql]
        entry: sqlfluff fix --force --config pyproject.toml

  - repo: local
    hooks:
      - id: latex-pdf-cleanup
        name: Cleanup LaTeX intermediate file
        stages: [commit]
        description: This hook cleans up the LaTeX build files but leaves the pdf
        entry: sh -c 'cd paper && make cleanup'
        language: system
        files: '(\.(tex|bib|cls|sty|toc)|([Mm]akefile|latexmkrc)$)'
        pass_filenames: false

Initialize master-proj with basic structure and dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-lock

Update GitHub Actions workflow for DuckDB ETL; remove hello.py and relocate Dockerfile
  .github/workflows/build-db.yaml
  Dockerfile
  src/packages/etl/Dockerfile
  src/packages/etl/src/scripts/entrypoint.sh
Due: none

clean up merge
  pyproject.toml
  src/app/__init__.py
  src/app/model/__init__.py
  src/app/model/analysis.py
  src/app/model/engine.py
  src/app/model/features.py
  src/app/model/logger.py
  src/app/model/main.py
  src/app/model/params.py
  src/app/model/preprocessing.py
  src/app/orm/__init__.py
  src/app/orm/landing.py
  src/app/orm/main.py
  src/app/orm/model.py
  src/app/utils/__init__.py
  src/app/utils/constants.py
  src/app/utils/db_helpers.py
  src/app/utils/elt_config.py
  src/app/utils/get_dataset.py
  src/packages/analysis/src/analysis/get_figures.py
  src/packages/etl/Dockerfile
  src/packages/etl/src/etl/__init__.py
  src/packages/etl/src/etl/__main__.py
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor GitHub Actions workflow to support multiple build tools (pip, poetry, uv) with conditional steps for installation and caching
  .github/workflows/python-build.yaml
Due: none

Update build-figures workflow to use uvx for lock file checks
  .github/workflows/build-figures.yaml
Due: none

Replace Poetry with uv in GitHub Actions workflows; update lock file references and installation steps
  .github/workflows/latex-compile.yaml
  .github/workflows/python-build.yaml
Due: none

Enhance GitHub Actions workflow to install toml module, update pyproject.toml with [tool.poetry] section, and generate poetry.lock file for improved dependency management
  .github/workflows/build-python.yaml
  pyproject.toml
Due: poetry-lock

Enhance GitHub Actions workflows to generate requirements.txt from pyproject.toml using uv and fallback to Poetry, with conditional installation steps for pip and uv builds.
  .github/workflows/build-figures.yaml
  .github/workflows/python-build.yaml
Due: none

Add Poetry installation step for conditional builds in workflows
  .github/workflows/build-figures.yaml
  .github/workflows/python-build.yaml
Due: none

Update script entry points in pyproject.toml to reflect new ETL module structure
  .github/workflows/build-python.yaml
  .github/workflows/compile-latex.yaml
  .github/workflows/publish-docker.yaml
  pyproject.toml
Due: poetry-lock

Update queries_dir fixture to return QueriesDirectory instance
  tests/conftest.py
Due: rm-old-covertura, pytest-check

Update Dockerfile to use uv for installation and entrypoint; remove Poetry configuration
  src/packages/etl/Dockerfile
Due: none

Update GitHub Actions workflow to replace Poetry with uv for dependency management and installation steps
  .github/workflows/build-figures.yaml
Due: none

Add matplotlib-venn and pymupdf dependencies, refactor paths in get_figures.py, and migrate tests to new structure
  src/packages/analysis/pyproject.toml
  src/packages/analysis/src/analysis/get_figures.py
  src/packages/core/__init__.py
  tests/analysis/test_get_figures.py
  uv.lock
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor authors handling in poetry section of build workflow to support both string and dictionary formats
  .github/workflows/build-python.yaml
Due: none

Refactor pyproject.toml to update project metadata, reorganize dependencies, and enhance optional dependencies for improved package management
  pyproject.toml
Due: poetry-lock

Refactor pyproject.toml to remove classifier section and update authors, and modify import statement in model.py to use sqlalchemy.orm
  pyproject.toml
  src/packages/orm/src/orm/model.py
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor pyproject.toml to reorganize project metadata and dependencies, and update linter configuration
  pyproject.toml
Due: poetry-lock

uv lock
  uv.lock
Due: none

update uv lock Add build system
  pyproject.toml
  uv.lock
Due: poetry-lock

Update script entry points in pyproject.toml to reflect new package structure
  pyproject.toml
Due: poetry-lock

update python test workflow to use just uv
  .github/workflows/build-python.yaml
Due: none

Remove TODO section from README.md for clarity and focus on project goals
  README.md
Due: none

Update workflow paths to enhance branch specificity and improve file matching
  .github/workflows/build-python.yaml
  .github/workflows/compile-latex.yaml
Due: none

Update required Python version to 3.11 in pyproject.toml
  pyproject.toml
Due: poetry-lock

update compile latex step to only create release on push to main
  .github/workflows/build-figures.yaml
  .github/workflows/compile-latex.yaml
  research/references/presentation/AutoML Feature Engineering for Student Modeling Yields High Accuracy, but Limited Interpretability.pdf
  research/references/presentation/Evaluating Predictive Models of Student Success Closing the Methodological Gap.pdf
Due: none

Update workflow configurations to restrict pull requests to the main branch
  .github/workflows/build-figures.yaml
  .github/workflows/build-python.yaml
  .github/workflows/compile-latex.yaml
Due: none

Remove combined CI workflow configuration file to streamline workflows
  .github/workflows/_combined-workflow.yaml
Due: none

Refactor workflow configuration to simplify 'runs-on' syntax in compile-latex.yaml
  .github/workflows/compile-latex.yaml
Due: none

Rename build-python.yaml to evaluate-python.yaml and simplify test command in workflow
  .github/workflows/evaluate-python.yaml
Due: none

Update test command in evaluate-python.yaml to use 'uvx' instead of 'uv'
  .github/workflows/evaluate-python.yaml
Due: none

Add Ruff workflow for linting on push and pull request events
  .github/workflows/ruff.yaml
Due: none

Update Ruff workflow to trigger only on pull request events
  .github/workflows/ruff.yaml
Due: none

Refactor stats notebook: reorganize imports, update DbHelper usage, and improve code readability
  src/notebooks/ModelEvaluation.ipynb
  src/notebooks/stats.ipynb
Due: none

Update test command in evaluate-python.yaml to use 'uv' instead of 'uvx'
  .github/workflows/evaluate-python.yaml
Due: none

Remove conditional check for cached virtual environment in build workflows
  .github/workflows/build-figures.yaml
  .github/workflows/evaluate-python.yaml
Due: none

Remove commented-out figsave line from Presentation notebook
  research/presentation/Presentation.ipynb
Due: none

Refactor ModelEvaluation notebook: remove unused function and improve code formatting; delete images notebook
  src/notebooks/ModelEvaluation.ipynb
  src/notebooks/images.ipynb
Due: none

Fix formatting in Presentation notebook: add newline after function calls and uncomment figsave lines
  research/presentation/Presentation.ipynb
Due: none
