Repository witzbeck/master_proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check, latex-pdf-cleanup

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock --no-update
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        types: [json]
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, pyproject.toml, --unsafe-fixes]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, pyproject.toml]

  - repo: local
    hooks:
      - id: rm-old-covertura
        name: Remove old covertura reports
        entry: rm -rf .coverage .coverage.xml htmlcov
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest-check
        name: pytest with coverage
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.0
    hooks:
      - id: sqlfluff-fix
        name: SQLFluff Fix
        types: [sql]
        entry: sqlfluff fix --force --config pyproject.toml

  - repo: local
    hooks:
      - id: latex-pdf-cleanup
        name: Cleanup LaTeX intermediate file
        stages: [commit]
        description: This hook cleans up the LaTeX build files but leaves the pdf
        entry: sh -c 'cd paper && make cleanup'
        language: system
        files: '(\.(tex|bib|cls|sty|toc)|([Mm]akefile|latexmkrc)$)'
        pass_filenames: false

remove caching from pdf build
  .github/workflows/latex-compile.yaml
  .github/workflows/python-build.yaml
Due: none

speciffy default files in latexmkrc
  paper/latexmkrc
  paper/makefile
Due: latex-pdf-cleanup

try precompile makepdf
  .github/workflows/latex-compile.yaml
Due: none

try other pdf mode
  .github/workflows/latex-compile.yaml
  paper/latexmkrc
Due: latex-pdf-cleanup

bibtex_config=2
  paper/latexmkrc
  paper/makefile
Due: latex-pdf-cleanup

retain .bbl to optimize build and debug
  .gitignore
  paper/paper.bbl
Due: none

add arg
  .github/workflows/latex-compile.yaml
Due: none

add lfs checkout
  .github/workflows/latex-compile.yaml
Due: none

mod default args for build latex
  .github/workflows/latex-compile.yaml
  paper/paper.tex
Due: latex-pdf-cleanup

add tests for get_dataset
  .github/workflows/latex-compile.yaml
  figures/rope_rforest_519_0__etree_358_0_.png
  tests/test_get_data.py
Due: rm-old-covertura, pytest-check

add post_compile step
  .github/workflows/latex-compile.yaml
Due: none

add analysis tests
  src/model/analysis.py
  tests/test_model_analysis.py
Due: rm-old-covertura, pytest-check

re-export png for rope figure
  figures/rope_on_two_hxg_boost_531_0__hxg_boost_540_0_.png
  tests/test_model_analysis.py
Due: rm-old-covertura, pytest-check

re-export oulad_students_courses as png
  figures/oulad_students_courses.png
Due: none

rm post compile step
  .github/workflows/latex-compile.yaml
Due: none

lock
  poetry.lock
Due: none

re-export raw_model png
  figures/raw_model.png
Due: none

re-export oulad_vs_15 png
  figures/oulad_vs_15.png
Due: none

oulad_15_age png export
  .github/workflows/latex-compile.yaml
  figures/oulad_15_age.png
Due: none

exp age_band figure
  figures/age_band_by_student.png
Due: none

final result exp
  figures/final_result_by_student.png
Due: none

more png exports
  figures/oulad_students_courses.png
  figures/region_by_student.png
Due: none

exps
  figures/age_band_by_student.png
  figures/n_days_active.png
Due: none

exp
  figures/final_result_by_student.png
  figures/region_by_student.png
  figures/roc_fit_all.png
Due: none

fix latex compile comments
  .github/workflows/latex-compile.yaml
Due: none

update set version release step
  .github/workflows/latex-compile.yaml
Due: none

Update release step to use softprops/action-gh-release
  .github/workflows/latex-compile.yaml
Due: none

Update release step to use actions/create-release
  .github/workflows/latex-compile.yaml
Due: none

update latex to only run on push to main
  .github/workflows/latex-compile.yaml
Due: none

Bump version [skip ci]
  pyproject.toml
Due: poetry-lock

add separate versioning step
  .github/workflows/versioning.yaml
Due: none

remove versioning from latex job
  .github/workflows/latex-compile.yaml
Due: none

simplify python build stages
  .github/workflows/python-build.yaml
Due: none

update fetch depth for versioning
  .github/workflows/versioning.yaml
Due: none

add write permissions
  .github/workflows/versioning.yaml
Due: none

add build figures and elt as script
  .github/workflows/build-figures.yaml
  pyproject.toml
  src/utils/constants.py
  src/utils/elt_config.py
Due: poetry-lock, rm-old-covertura, pytest-check

rm duplicate and wrong agg_course_details
  src/queries/02_agg/02_02_derivative/agg_course_details.sql
  src/queries/02_agg/03_views/agg_course_details.sql
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check
