Repository witzbeck/master_proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check, latex-pdf-cleanup

poetry-lock:
  name: poetry-lock
  entry: poetry lock --no-update
  language: system
  pass_filenames: false

rm-old-covertura:
  name: Remove old covertura reports
  entry: rm -rf .coverage .coverage.xml htmlcov
  language: system
  pass_filenames: false

pytest-check:
  name: pytest with coverage
  entry: poetry run pytest
  language: system
  pass_filenames: false

latex-pdf-cleanup:
  name: Cleanup LaTeX intermediate file
  stages:
  - commit
  description: This hook cleans up the LaTeX build files but leaves the pdf
  entry: sh -c 'cd paper && make cleanup'
  language: system
  pass_filenames: false

Another f string
  src/app/utils/elt_config.py
Due: rm-old-covertura, pytest-check

export_db true
  src/app/utils/elt_config.py
Due: rm-old-covertura, pytest-check

fix f string
  .github/workflows/build-figures.yaml
  src/app/utils/elt_config.py
Due: rm-old-covertura, pytest-check

update pipe etl for build
  .github/workflows/build-figures.yaml
  pyproject.toml
  src/app/utils/elt_config.py
Due: poetry-lock, rm-old-covertura, pytest-check

remove exportdb for build figures action
  .github/workflows/build-figures.yaml
  src/app/utils/elt_config.py
Due: rm-old-covertura, pytest-check

add figures tests
  figures/avg_days_early_by_days_active.eps
  figures/avg_days_early_by_days_active.png
  src/utils/get_figures.py
  tests/test_get_figures.py
Due: rm-old-covertura, pytest-check

Bump version [skip ci]
  pyproject.toml
Due: poetry-lock

fix get figures loc
  src/app/utils/get_figures.py
  src/notebooks/figures.ipynb
  tests/test_get_figures.py
Due: rm-old-covertura, pytest-check

fix nested f string
  src/app/utils/get_figures.py
  src/utils/get_figures.py
Due: rm-old-covertura, pytest-check

remove etl step for build figures too memory intensive for gh hosted runners as currently configured
  .github/workflows/build-figures.yaml
Due: none

fix casing
  Dockerfile
Due: none

update actions refs
  .github/workflows/docker-publish.yaml
Due: none

add funcs for get_figures
  src/app/utils/get_figures.py
Due: rm-old-covertura, pytest-check

add comb workflow
  .github/workflows/_combined-workflow.yaml
Due: none

fix ruff py version for f strings
  pyproject.toml
  src/app/utils/get_figures.py
Due: poetry-lock, rm-old-covertura, pytest-check

update flow permissions
  .github/workflows/docker-publish.yaml
  tests/test_get_figures.py
Due: rm-old-covertura, pytest-check

simplify image tag
  .github/workflows/docker-publish.yaml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

refactor etl utils to allow cli functionality for analytics containerization
  pyproject.toml
  src/app/__main__.py
  src/app/constants.py
  src/app/etl/__init__.py
  src/app/etl/extract.py
  src/app/etl/files.py
  src/app/etl/utils.py
  src/app/model/analysis.py
  src/app/model/engine.py
  src/app/model/features.py
  src/app/model/logger.py
  src/app/model/main.py
  src/app/model/params.py
  src/app/model/preprocessing.py
  src/app/model/results.py
  src/app/orm/__init__.py
  src/app/orm/analysis.py
  src/app/orm/landing.py
  src/app/orm/model.py
  src/app/utils/__init__.py
  src/app/utils/db_helpers.py
  src/app/utils/elt_config.py
  src/app/utils/figures.py
  tests/conftest.py
  tests/test_constants.py
  tests/test_db_helpers.py
  tests/test_elt_config.py
  tests/test_etl.py
  tests/test_get_data.py
  tests/test_get_figures.py
  tests/test_query_dependencies.py
Due: poetry-lock, rm-old-covertura, pytest-check

move dockerfile to etl
  poetry.lock
  pyproject.toml
  src/app/etl/Dockerfile
  src/app/etl/__init__.py
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor ETL utils to enable CLI functionality for analytics containerization
  poetry.lock
Due: none

docker progress for analytics node
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-lock

add k8s configmaps func
  .github/workflows/build-figures.yaml
  .k8s/model_pipeline.yaml
  .pre-commit-config.yaml
  src/app/__main__.py
  src/app/constants.py
  src/app/etl/__init__.py
  src/app/model/params.py
Due: rm-old-covertura, pytest-check

add readme
  README.md
Due: none

Delete .github/workflows/versioning.yaml
  .github/workflows/versioning.yaml
Due: none

bump patch version
  pyproject.toml
Due: poetry-lock

add optuna and lock
  poetry.lock
  pyproject.toml
Due: poetry-lock

Update base image to Python 3.13 and switch entrypoint to pipx for duckdb-server
  Dockerfile
  poetry.lock
  pyproject.toml
Due: poetry-lock

disable post feature engineering tables
  README.md
  src/queries/04_feat/01_00_views/_feat_minmax_scaled_student_info.sql
  src/queries/05_model/_model_compare_perf.sql
  src/queries/05_model/_model_top_per_model.sql
  src/queries/06_analysis/00_eval/_analysis_all_runs_results.sql
  src/queries/06_analysis/01_analysis/_analysis_abroca_analysis.sql
  src/queries/06_analysis/01_analysis/_analysis_model_analysis.sql
  src/queries/06_analysis/01_analysis/_analysis_student_ratios.sql
Due: none

Enhance CI pipeline to trigger on push and pull request events for the main branch
  .github/workflows/_combined-workflow.yaml
Due: none

Update .gitignore to include *.egg-info and remove *.txt exceptions
  .gitignore
Due: none

Add Docker workflow for database build and initialization
  .github/workflows/build-db.yaml
  .gitignore
  src/scripts/entrypoint.sh
  src/utils/init_db.py
Due: rm-old-covertura, pytest-check

Path conditions:
  poetry-lock: any of: \.toml$
  rm-old-covertura: any of: \.py$
  pytest-check: any of: \.py$
  latex-pdf-cleanup: any of: (\.(tex|bib|cls|sty|toc)|([Mm]akefile|latexmkrc)$)
