Repository witzbeck/master_proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, rm-old-covertura, pytest-check, latex-pdf-cleanup

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: uv-lock
        name: uv lock
        entry: uv lock
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        types: [json]
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.3
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, pyproject.toml, --unsafe-fixes]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, pyproject.toml]

  - repo: local
    hooks:
      - id: rm-old-covertura
        name: Remove old covertura reports
        entry: rm -rf .coverage .coverage.xml htmlcov
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest-check
        name: pytest with coverage
        entry: uv run pytest -m "not slow"
        language: system
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: latex-pdf-cleanup
        name: Cleanup LaTeX intermediate file
        stages: [pre-commit]
        description: This hook cleans up the LaTeX build files but leaves the pdf
        entry: sh -c 'cd paper && make cleanup'
        language: system
        files: '(\.(tex|bib|cls|sty|toc)|([Mm]akefile|latexmkrc)$)'
        pass_filenames: false

Update dependencies and enhance figure generation tests: replace pyarrow with fastparquet and adjust mock for ProjectFigure file path
  pyproject.toml
  tests/analysis/test_get_figures.py
  uv.lock
Due: uv-lock, rm-old-covertura, pytest-check

Refactor ETL configuration and testing: update CSV path retrieval using SOURCE_TABLE_MAP and enhance figure generation test with mock for Path existence check
  src/packages/etl/src/etl/elt_config.py
  tests/analysis/test_get_figures.py
Due: rm-old-covertura, pytest-check

Update release workflow: modify database cache path to include the entire data directory
  .github/workflows/create-release.yaml
Due: none

Update GitHub Actions: upgrade upload and download artifact actions to v4
  .github/workflows/create-release.yaml
Due: none

Update release workflow: change export format from CSV to Parquet
  .github/workflows/create-release.yaml
Due: none

add incrementals with logic defaults to load database components
  src/packages/etl/src/etl/__main__.py
  src/packages/etl/src/etl/load_dataset.py
  tests/etl/test_load_dataset.py
Due: rm-old-covertura, pytest-check

don't run export database (space savings)
  .github/workflows/create-release.yaml
Due: none

Refactor database handling: remove fastparquet dependency, update figure generation functions to use DbHelper for data retrieval, and improve error handling for missing DataFrames.
  pyproject.toml
  src/packages/analysis/src/analysis/get_figures.py
  src/packages/etl/src/etl/db_helpers.py
  tests/analysis/test_get_figures.py
  uv.lock
Due: uv-lock, rm-old-covertura, pytest-check

fix cleanup extract files
  src/packages/etl/src/etl/load_dataset.py
  tests/conftest.py
Due: rm-old-covertura, pytest-check

Enhance QueriesDirectory: add docstrings for cached properties and update main execution to show target sources mapping
  src/packages/etl/src/etl/elt_config.py
  tests/etl/test_load_dataset.py
Due: rm-old-covertura, pytest-check

Fix get_csv_paths function to use parent_path parameter and improve test assertions for figure types
  src/packages/etl/src/etl/elt_config.py
  tests/analysis/test_get_figures.py
Due: rm-old-covertura, pytest-check

Enhance figure generation workflow: add support for multiple figures in cache restoration and generation, update CLI commands for figure handling, and improve project description in pyproject.toml.
  .github/workflows/create-release.yaml
  src/packages/analysis/src/analysis/__main__.py
  src/packages/etl/pyproject.toml
  src/packages/etl/src/etl/__main__.py
Due: uv-lock, rm-old-covertura, pytest-check

Enhance figure management: update GitHub Actions workflow to include specific figure names and add functions to retrieve figure name mappings in the analysis module.
  .github/workflows/create-release.yaml
  src/packages/analysis/src/analysis/__init__.py
  src/packages/analysis/src/analysis/__main__.py
Due: rm-old-covertura, pytest-check

Fix quoting in GitHub Actions workflow for figure generation command
  .github/workflows/create-release.yaml
Due: none

Fix dependency installation in GitHub Actions workflow to use specific Python version
  .github/workflows/evaluate-python.yaml
Due: none

Refactor workflow names for clarity and consistency across GitHub Actions
  .github/workflows/create-release.yaml
  .github/workflows/evaluate-python.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/publish-docker.yaml
Due: none

Remove Python 3.11 from the matrix in GitHub Actions workflow for evaluation
  .github/workflows/evaluate-python.yaml
Due: none

Add DB to Release (#23)
  .github/workflows/build-figures.yaml
  .github/workflows/compile-latex.yaml
  .github/workflows/create-release.yaml
  .github/workflows/evaluate-python.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/publish-docker.yaml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/packages/analysis/src/analysis/__init__.py
  src/packages/analysis/src/analysis/__main__.py
  src/packages/analysis/src/analysis/get_figures.py
  src/packages/etl/pyproject.toml
  src/packages/etl/src/etl/__main__.py
  src/packages/etl/src/etl/db_helpers.py
  src/packages/etl/src/etl/elt_config.py
  src/packages/etl/src/etl/init_db.py
  src/packages/etl/src/etl/load_dataset.py
  tests/analysis/test_get_figures.py
  tests/conftest.py
  tests/etl/test_db_helpers.py
  tests/etl/test_load_dataset.py
Due: uv-lock, rm-old-covertura, pytest-check

Update release workflow to correct asset paths for PDF and database files
  .github/workflows/create-release.yaml
Due: none

Enhance figure generation by saving figures to specified file paths
  src/packages/analysis/src/analysis/__main__.py
Due: rm-old-covertura, pytest-check

Update release workflow to improve caching for generated figures
  .github/workflows/create-release.yaml
Due: none

Bump Python requirement to >=3.12 and update version to 1.5.1
  pyproject.toml
  uv.lock
Due: uv-lock

Update release workflow to include pyproject.toml in path triggers
  .github/workflows/create-release.yaml
Due: none

show tree
  .github/workflows/create-release.yaml
Due: none

Refactor release workflow to use ncipollo/release-action for creating or updating releases and streamline asset uploads
  .github/workflows/create-release.yaml
Due: none

Add assertions for project and data directory structure; improve file deletion process in export_database
  src/packages/core/__init__.py
  src/packages/etl/src/etl/elt_config.py
Due: rm-old-covertura, pytest-check
