Repository witzbeck/master_proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check

poetry-lock:
  name: poetry-lock
  entry: poetry lock --no-update
  language: system
  pass_filenames: false

rm-old-covertura:
  name: Remove old covertura reports
  entry: rm -rf .coverage .coverage.xml htmlcov
  language: system
  pass_filenames: false

pytest-check:
  name: pytest with coverage
  entry: poetry run pytest --cov=alexlib -n auto
  language: system
  pass_filenames: false

Refactor project structure and update imports
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/analysis.py
  src/engine.py
  src/features.py
  src/logger.py
  src/main.py
  src/model/analysis.py
  src/model/engine.py
  src/model/features.py
  src/model/logger.py
  src/model/main.py
  src/model/params.py
  src/model/preprocessing.py
  src/params.py
  src/preprocessing.py
  src/setup.py
  src/utils.py
  src/utils/__init__.py
  src/utils/constants.py
  src/utils/db_helpers.py
  src/utils/file_helpers.py
  src/utils/utils.py
  tests/conftest.py
  tests/test_constants.py
Due: poetry-lock, rm-old-covertura, pytest-check

added landing and testing lowercased tables
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/queries/00_landing/assessments.sql
  src/queries/00_landing/courses.sql
  src/queries/00_landing/studentassessment.sql
  src/queries/00_landing/studentinfo.sql
  src/queries/00_landing/studentregistration.sql
  src/queries/00_landing/studentvle.sql
  src/queries/00_landing/vle.sql
  src/queries/landing/assessments.sql
  src/queries/landing/courses.sql
  src/queries/landing/studentAssessment.sql
  src/queries/landing/studentInfo.sql
  src/queries/landing/studentRegistration.sql
  src/queries/landing/studentVle.sql
  src/queries/landing/vle.sql
  src/utils/__init__.py
  src/utils/constants.py
  src/utils/db_helpers.py
  src/utils/elt_config.py
  src/utils/file_helpers.py
  src/utils/utils.py
  tests/conftest.py
  tests/test_elt_config.py
Due: poetry-lock, rm-old-covertura, pytest-check

Add ORM module and refactor project structure
  src/orm/01_db_schemas.py
  src/orm/02_db_landing.py
  src/orm/03_db_staging.py
  src/orm/04_db_main.py
  src/orm/05_db_agg.py
  src/orm/06_db_first30.py
  src/orm/07_db_model.py
  src/orm/__init__.py
  src/orm/landing.py
  src/orm/main.py
  src/queries/06_eval/00_analysis/abroca_analysis.sql
  src/queries/06_eval/02_views/v_all_runs_results.sql
  src/queries/06_eval/02_views/v_compare_perf.sql
  src/queries/06_eval/02_views/v_features.sql
  src/utils/constants.py
  src/utils/elt_config.py
  tests/conftest.py
  tests/test_elt_config.py
Due: rm-old-covertura, pytest-check

lock after updating alexlib to remove file name attr
  poetry.lock
  pyproject.toml
Due: poetry-lock

Refactor ORM module and remove unnecessary files add notebook to organize elt exec process refactor main dim tables
  .pre-commit-config.yaml
  src/notebooks/elt_exec.ipynb
  src/orm/01_db_schemas.py
  src/orm/02_db_landing.py
  src/orm/03_db_staging.py
  src/orm/04_db_main.py
  src/orm/05_db_agg.py
  src/orm/06_db_first30.py
  src/orm/07_db_model.py
  src/orm/__init__.py
  src/queries/01_main/00_dimensions/main_activity_type.sql
  src/queries/01_main/00_dimensions/main_age_band.sql
  src/queries/01_main/00_dimensions/main_assessment_type.sql
  src/queries/01_main/00_dimensions/main_final_result.sql
  src/queries/01_main/00_dimensions/main_highest_education.sql
  src/queries/01_main/00_dimensions/main_imd_band.sql
  src/queries/01_main/00_dimensions/main_module.sql
  src/queries/01_main/00_dimensions/main_presentation.sql
  src/queries/01_main/00_dimensions/main_region.sql
  src/queries/01_main/01_dimensions/activity_type.sql
  src/queries/01_main/01_dimensions/age_band.sql
  src/queries/01_main/01_dimensions/assessment_type.sql
  src/queries/01_main/01_dimensions/final_result.sql
  src/queries/01_main/01_dimensions/highest_education.sql
  src/queries/01_main/01_dimensions/imd_band.sql
  src/queries/01_main/01_dimensions/module.sql
  src/queries/01_main/01_dimensions/presentation.sql
  src/queries/01_main/01_dimensions/region.sql
  src/queries/01_main/01_facts/assessment.sql
  src/queries/01_main/01_facts/course_info.sql
  src/queries/01_main/01_facts/student_info.sql
  src/utils/db_helpers.py
  src/utils/elt_config.py
  src/utils/file_helpers.py
  tests/conftest.py
  tests/test_elt_config.py
Due: rm-old-covertura, pytest-check

Refactor view names in agg_course_modes_region.sql and related files
  pyproject.toml
  src/notebooks/elt_exec.ipynb
  src/queries/01_main/01_dimensions/main_course_info.sql
  src/queries/01_main/03_bridges/main_course_assessments.sql
  src/queries/01_main/04_derived/main_assessment_staging.sql
  src/queries/01_main/04_derived/main_course_registrations.sql
  src/queries/01_main/04_derived/main_onehot_activity_type.sql
  src/queries/01_main/04_derived/main_onehot_age_band.sql
  src/queries/01_main/04_derived/main_onehot_final_result.sql
  src/queries/01_main/04_derived/main_onehot_highest_education.sql
  src/queries/01_main/04_derived/main_onehot_imd_band.sql
  src/queries/01_main/04_derived/main_onehot_region.sql
  src/queries/01_main/04_derived/main_student_grades.sql
  src/queries/01_main/04_derived/main_student_interactions_by_assessments.sql
  src/queries/01_main/04_derived/main_vle_activities.sql
  src/queries/01_main/04_views/main_v_registrations.sql
  src/queries/01_main/04_views/main_v_student_courses.sql
  src/queries/01_main/04_views/main_v_student_info.sql
  src/queries/02_agg/00_00_base/agg_assessment_weights.sql
  src/queries/02_agg/00_00_base/agg_course_reg_results.sql
  src/queries/02_agg/00_00_base/agg_course_student_bands_results.sql
  src/queries/02_agg/00_00_base/agg_interaction_types_staging.sql
  src/queries/02_agg/01_00_derivative/agg_mean_prod_consec_days.sql
  src/queries/02_agg/01_00_derivative/agg_mom_assessments_12.sql
  src/queries/02_agg/01_00_derivative/agg_running_assessment_score.sql
  src/queries/02_agg/02_00_views/agg_course_modes_age_band.sql
  src/queries/02_agg/02_00_views/agg_course_modes_highest_ed.sql
  src/queries/02_agg/02_00_views/agg_course_modes_imd_band.sql
  src/queries/02_agg/02_00_views/agg_course_modes_region.sql
  src/queries/02_agg/02_00_views/agg_interactions_days_active.sql
  src/queries/02_agg/02_00_views/agg_student_activity_revisits.sql
  src/queries/02_agg/02_01_views/agg_course_modes.sql
  src/queries/02_agg/02_02_views/agg_course_details.sql
  src/queries/02_agg/02_02_views/v_course_details.sql
  src/utils/elt_config.py
Due: poetry-lock, rm-old-covertura, pytest-check

add utils unit tests
  pyproject.toml
  src/utils/__init__.py
  src/utils/db_helpers.py
  src/utils/elt_config.py
  tests/conftest.py
  tests/test_elt_config.py
  tests/test_utils.py
Due: poetry-lock, rm-old-covertura, pytest-check

refactor table and column as dataclasses
  src/utils/db_helpers.py
Due: rm-old-covertura, pytest-check

Refactor get_props function to get_distinct_value_proportions
  src/utils/__init__.py
  src/utils/db_helpers.py
  tests/test_utils.py
Due: rm-old-covertura, pytest-check

Refactor db_helpers.py: Rename get_props function to get_distinct_value_proportions
  pyproject.toml
  src/utils/db_helpers.py
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor logging levels in constants.py
  src/utils/constants.py
  src/utils/db_helpers.py
  tests/test_db_helpers.py
Due: rm-old-covertura, pytest-check

add properties for source and target analysis of queries
  src/queries/05_model/tables/model_runs.sql
  src/queries/06_eval/00_analysis/analysis_main_vs_staging_demog.sql
  src/utils/elt_config.py
  tests/test_query_dependencies.py
Due: rm-old-covertura, pytest-check

Refactor test_elt_config.py: Add additional tests for query directory mappings
  tests/test_elt_config.py
Due: rm-old-covertura, pytest-check

refactor deps
  pyproject.toml
  src/model/analysis.py
  src/model/engine.py
  src/model/features.py
  src/model/logger.py
  src/model/main.py
  src/model/params.py
  src/model/preprocessing.py
  src/utils/constants.py
  tests/test_model.py
Due: poetry-lock, rm-old-covertura, pytest-check

fix student grades
  src/model/preprocessing.py
  src/queries/01_main/04_derived/main_student_grades.sql
  src/queries/02_agg/01_00_derivative/agg_student_grades.sql
  src/utils/elt_config.py
  tests/test_model.py
Due: rm-old-covertura, pytest-check

fix freq queries
  src/queries/02_agg/02_00_derivative/agg_vle_interactions_staging.sql
  src/queries/02_agg/02_01_derivative/agg_mom_interactions_per_type_12.sql
  src/queries/02_agg/02_02_derivative/agg_most_popular_activities.sql
  src/queries/02_agg/03_tables/agg_mom_dates_by_activity_1234.sql
  src/queries/02_agg/03_tables/agg_student_activities_by_frequency_mode.sql
  src/queries/02_agg/03_tables/agg_student_top_5th_perc_activities.sql
Due: none

fix course reg imd band onehot ref
  src/queries/02_agg/00_00_base/agg_student_clicks_per_date.sql
  src/queries/02_agg/03_tables/agg_course_registrations.sql
  src/queries/02_agg/03_tables/agg_mean_prod_consec_days.sql
Due: none

fixed activities by frequency 64/121
  src/queries/02_agg/00_00_base/agg_activities_by_frequency.sql
  src/queries/02_agg/03_tables/agg_assessment_over_time.sql
  src/queries/02_agg/03_tables/agg_course_modes.sql
  src/queries/02_agg/03_tables/agg_mom_interactions_1234.sql
  src/queries/02_agg/03_tables/agg_percentile_activities.sql
Due: none

fixed percentile acitivies 67/121
  src/queries/02_agg/03_tables/agg_percentile_activities.sql
Due: none

fixed percentile acitivies 68/121
  src/queries/02_agg/03_tables/agg_course_lengths.sql
  src/queries/02_agg/03_tables/agg_mom_activities_distinct.sql
Due: none

fixed activities per day 73/122
  src/queries/02_agg/00_00_base/agg_student_activities_per_day.sql
  src/queries/02_agg/03_tables/agg_mom_activities_distinct.sql
  src/queries/02_agg/03_views/agg_course_details.sql
  src/queries/02_agg/03_views/agg_course_student_bands.sql
Due: none

fixed agg course info by adding course id
  src/queries/02_agg/03_tables/agg_course_info.sql
Due: none

fix assessment score calcs
  src/queries/02_agg/03_views/agg_assessment_score_calcs.sql
Due: none

fix first30 student_ids refs
  src/queries/03_first30/01_derivative/first30_mom_interactions_12.sql
  src/queries/03_first30/01_derivative/first30_mom_interactions_per_type_12.sql
  src/queries/03_first30/02_derivative/first30_demographic_info.sql
Due: none

reorder features and add first30 stage 109/120
  src/queries/02_agg/03_views/agg_activities_days_active.sql
  src/queries/03_first30/01_derivative/first30_activity_interaction_percentiles.sql
  src/queries/03_first30/02_derivative/first30_grades.sql
  src/queries/03_first30/02_derivative/first30_student_interaction_percentiles.sql
  src/queries/03_first30/03_derivative/first30_all_classes.sql
  src/queries/03_first30/04_derivative/first30_all_engagement.sql
  src/queries/03_first30/05_derivative/first30_all_classes_ratios.sql
  src/queries/03_first30/05_derivative/first30_all_moments.sql
  src/queries/03_first30/06_derivative/first30_all_features.sql
  src/queries/04_feat/00_00_base/feat_academic_info.sql
  src/queries/04_feat/00_00_base/feat_activities.sql
  src/queries/04_feat/00_00_base/feat_assessments.sql
  src/queries/04_feat/00_00_base/feat_demographic_info.sql
  src/queries/04_feat/00_00_base/feat_interactions_staging.sql
  src/queries/04_feat/00_00_base/feat_student_info.sql
  src/queries/04_feat/feat_academic_info.sql
  src/queries/04_feat/feat_activities.sql
  src/queries/04_feat/feat_assessments.sql
  src/queries/04_feat/feat_course_info.sql
  src/queries/04_feat/feat_demographic_info.sql
Due: none

update create model tables sql
  src/orm/model.py
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

finish analysis schema updates
  src/queries/05_model/model_compare_perf.sql
  src/queries/05_model/model_top_per_model.sql
  src/queries/06_analysis/00_eval/_eval_features.sql
  src/queries/06_analysis/00_eval/analysis_all_runs_results.sql
  src/queries/06_analysis/01_analysis/_analysis_features.sql
  src/queries/06_analysis/01_analysis/analysis_abroca_analysis.sql
  src/queries/06_analysis/01_analysis/analysis_model_analysis.sql
  src/queries/06_analysis/01_analysis/analysis_student_ratios.sql
  src/queries/06_eval/eval_compare_perf.sql
  src/queries/07_analysis/analysis_all_runs_results.sql
  src/queries/07_analysis/analysis_main_vs_staging_demog.sql
  src/queries/07_analysis/analysis_student_ratios.sql
  src/utils/constants.py
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

rm paper from python build action
  .github/workflows/python-build.yaml
Due: none

fix action add poetry check
  .github/workflows/python-build.yaml
Due: none

single quotes in f string
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

rm dvi
  paper/paper.dvi
Due: none

update test db to memory
  tests/conftest.py
Due: rm-old-covertura, pytest-check

add export path to constants
  src/utils/constants.py
Due: rm-old-covertura, pytest-check

add dataset download
  src/utils/constants.py
  src/utils/elt_config.py
  src/utils/get_dataset.py
  tests/conftest.py
  tests/test_elt_config.py
Due: rm-old-covertura, pytest-check

add get data as actions step
  .github/workflows/python-build.yaml
  pyproject.toml
  src/utils/get_dataset.py
Due: poetry-lock, rm-old-covertura, pytest-check

Path conditions:
  poetry-lock: any of: \.toml$
  rm-old-covertura: any of: \.py$
  pytest-check: any of: \.py$
