Repository witzbeck/master_proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check, latex-pdf-cleanup

poetry-lock:
  name: poetry-lock
  entry: poetry lock --no-update
  language: system
  pass_filenames: false

rm-old-covertura:
  name: Remove old covertura reports
  entry: rm -rf .coverage .coverage.xml htmlcov
  language: system
  pass_filenames: false

pytest-check:
  name: pytest with coverage
  entry: poetry run pytest
  language: system
  pass_filenames: false

latex-pdf-cleanup:
  name: Cleanup LaTeX intermediate file
  stages:
  - commit
  description: This hook cleans up the LaTeX build files but leaves the pdf
  entry: sh -c 'cd paper && make cleanup'
  language: system
  pass_filenames: false

install
  .github/workflows/build-figures.yaml
Due: none

just poetry install
  .github/workflows/build-figures.yaml
Due: none

Add project install
  .github/workflows/python-build.yaml
Due: none

fix inner f string
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

Bump version [skip ci]
  pyproject.toml
Due: poetry-lock

created enum for paper figures
  .github/workflows/python-build.yaml
  src/utils/get_figures.py
Due: rm-old-covertura, pytest-check

allow pdf refs when used in figure rendering
  .gitignore
Due: none

fix f string
  .github/workflows/build-figures.yaml
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

update pipe etl for build
  .github/workflows/build-figures.yaml
  pyproject.toml
  src/utils/elt_config.py
Due: poetry-lock, rm-old-covertura, pytest-check

Another f string
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

remove exportdb for build figures action
  .github/workflows/build-figures.yaml
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

update lock
  poetry.lock
Due: none

export_db true
  src/utils/elt_config.py
Due: rm-old-covertura, pytest-check

add docker files
  .github/workflows/docker-publish.yaml
  Dockerfile
Due: none

lock
  poetry.lock
Due: none

add build figures and elt as script
  .github/workflows/build-figures.yaml
  pyproject.toml
  src/app/utils/constants.py
  src/app/utils/elt_config.py
Due: poetry-lock, rm-old-covertura, pytest-check

rm duplicate and wrong agg_course_details
  src/app/utils/elt_config.py
  src/queries/02_agg/02_02_derivative/agg_course_details.sql
  src/queries/02_agg/03_views/agg_course_details.sql
Due: rm-old-covertura, pytest-check

fix inner f string
  src/app/utils/elt_config.py
Due: rm-old-covertura, pytest-check

add figures tests
  figures/avg_days_early_by_days_active.eps
  figures/avg_days_early_by_days_active.png
  src/utils/get_figures.py
  tests/test_get_figures.py
Due: rm-old-covertura, pytest-check

Path conditions:
  poetry-lock: any of: \.toml$
  rm-old-covertura: any of: \.py$
  pytest-check: any of: \.py$
  latex-pdf-cleanup: any of: (\.(tex|bib|cls|sty|toc)|([Mm]akefile|latexmkrc)$)
