Repository witzbeck/master_proj: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-lock, rm-old-covertura, pytest-check, latex-pdf-cleanup

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock --no-update
        language: system
        types: [toml]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        types: [json]
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --config, pyproject.toml, --unsafe-fixes]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config, pyproject.toml]

  - repo: local
    hooks:
      - id: rm-old-covertura
        name: Remove old covertura reports
        entry: rm -rf .coverage .coverage.xml htmlcov
        language: system
        types: [python]
        pass_filenames: false
      - id: pytest-check
        name: pytest with coverage
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.0
    hooks:
      - id: sqlfluff-fix
        name: SQLFluff Fix
        types: [sql]
        entry: sqlfluff fix --force --config pyproject.toml

  - repo: local
    hooks:
      - id: latex-pdf-cleanup
        name: Cleanup LaTeX intermediate file
        stages: [commit]
        description: This hook cleans up the LaTeX build files but leaves the pdf
        entry: sh -c 'cd paper && make cleanup'
        language: system
        files: '(\.(tex|bib|cls|sty|toc)|([Mm]akefile|latexmkrc)$)'
        pass_filenames: false

Update Python version in notebooks and add workspace configuration; refine .gitignore for user-specific files
  .gitignore
  master_proj.code-workspace
  src/notebooks/ModelEvaluation.ipynb
  src/notebooks/elt_exec.ipynb
Due: none

Refactor package imports and update dependencies across multiple modules to include 'core'; adjust project configurations
  pyproject.toml
  src/packages/analysis/pyproject.toml
  src/packages/analysis/src/analysis/get_figures.py
  src/packages/etl/pyproject.toml
  src/packages/etl/src/etl/__main__.py
  src/packages/etl/src/etl/elt_config.py
  src/packages/etl/src/etl/load_dataset.py
  src/packages/model/pyproject.toml
  src/packages/model/src/model/logger.py
  src/packages/orm/pyproject.toml
  src/packages/orm/src/orm/__init__.py
  tests/conftest.py
  tests/core/test_constants.py
  uv.lock
Due: poetry-lock, rm-old-covertura, pytest-check

Update execution count to null and add missing imports in Presentation notebook
  research/presentation/Presentation.ipynb
Due: none

Exclude __pycache__ from workspace in pyproject.toml
  pyproject.toml
Due: poetry-lock

Remove method make_subdir from DataDirectory class, moved to parent class in alexlib uv lock
  src/packages/etl/src/etl/elt_config.py
  uv.lock
Due: rm-old-covertura, pytest-check

Update GitHub Actions workflow to trigger on specific paths and adjust Docker build context
  .github/workflows/publish-docker.yaml
Due: none

Update Dockerfile to improve package installation and build process
  src/packages/etl/Dockerfile
Due: none

Add caching for raw data and conditional data retrieval in workflow
  .github/workflows/evaluate-python.yaml
Due: none

Add fetch-depth option and copy files to Docker context in workflow
  .github/workflows/publish-docker.yaml
Due: none

Update Docker workflow to copy additional source directories to Docker context
  .github/workflows/publish-docker.yaml
Due: none

Update Docker workflow to copy core packages to the correct directory in Docker context
  .github/workflows/publish-docker.yaml
Due: none

Refactor Dockerfile to streamline package installation and adjust virtual environment path
  src/packages/etl/Dockerfile
Due: none

Add caching for LaTeX PDF to improve workflow efficiency
  .github/workflows/compile-latex.yaml
Due: none

Refactor Docker setup by consolidating Dockerfile and removing redundant copy commands in workflow
  .github/workflows/publish-docker.yaml
  Dockerfile
Due: none

Update Docker publish workflow to set the build context to the root directory
  .github/workflows/publish-docker.yaml
Due: none

Update Dockerfile to remove working directory setting and add curl for package installation
  Dockerfile
Due: none

Update Dockerfile to modify virtual environment path and ensure shell execution after package installation
  Dockerfile
Due: none

Refactor Dockerfile to simplify source code copy commands and streamline dependency installation
  Dockerfile
Due: none

Update Dockerfile to modify PATH variable and streamline package installation
  Dockerfile
Due: none

Update Dockerfile to include git in build tools installation
  Dockerfile
Due: none

Update Dockerfile to install dependencies without development packages
  Dockerfile
Due: none

Update Dockerfile to enhance dependency installation with additional flags for improved performance
  Dockerfile
Due: none

Update Dockerfile to refine dependency installation command and set entrypoint for runtime
  Dockerfile
Due: none

Update Dockerfile to add data retrieval step and streamline data copying
  Dockerfile
Due: none

Update Dockerfile to enhance dependency installation command with progress suppression
  Dockerfile
Due: none

Update Dockerfile to add python3-dev and linux-headers for enhanced build support
  Dockerfile
Due: none

Update main function to add export_database parameter for conditional database export
  src/packages/etl/src/etl/elt_config.py
Due: rm-old-covertura, pytest-check

Update GitHub Actions workflow to enhance Docker build caching and conditionally log in to the registry
  .github/workflows/publish-docker.yaml
Due: none

Update Dockerfile to clarify libpq installation for DuckDB and remove project name assertion in __init__.py
  Dockerfile
  src/packages/core/__init__.py
Due: rm-old-covertura, pytest-check

Fix paths in LaTeX workflow for PDF caching and artifact upload
  .github/workflows/compile-latex.yaml
Due: none

Remove obsolete GitHub Actions workflow for DuckDB ETL build and run
  .github/workflows/build-db.yaml
Due: none

Update LaTeX workflow to use glob patterns for PDF artifact paths
  .github/workflows/compile-latex.yaml
Due: none

Update GitHub Actions workflows to correct file paths and enhance caching
  .github/workflows/compile-latex.yaml
  .github/workflows/evaluate-python.yaml
  .github/workflows/publish-docker.yaml
  .github/workflows/ruff.yaml
Due: none

Remove obsolete workflows for figure building and LaTeX compilation; add new release workflow for PDF and database artifacts
  .github/workflows/build-figures.yaml
  .github/workflows/create-release.yaml
  src/packages/etl/src/etl/init_db.py
Due: rm-old-covertura, pytest-check

Refactor GitHub Actions workflows: rename jobs for clarity, add new linting workflow, and update .gitignore for better file management
  .github/workflows/evaluate-python.yaml
  .github/workflows/lint-python.yaml
  .github/workflows/publish-docker.yaml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  src/packages/analysis/src/analysis/get_figures.py
  src/packages/etl/src/etl/elt_config.py
  tests/analysis/test_get_figures.py
  uv.lock
Due: poetry-lock, rm-old-covertura, pytest-check

Enhance GitHub Actions workflows: add build-figures job, improve caching for figures, and update asset paths for release artifacts
  .github/workflows/create-release.yaml
  pyproject.toml
Due: poetry-lock

Refactor figure handling and testing: remove unused DbHelper dependency, simplify get_image method, and enhance test coverage with mocks
  pyproject.toml
  src/packages/analysis/src/analysis/get_figures.py
  tests/analysis/test_get_figures.py
Due: poetry-lock, rm-old-covertura, pytest-check

Refactor test assertions in figure tests: simplify assert statements for clarity and maintainability
  tests/analysis/test_get_figures.py
  tests/etl/test_db_helpers.py
Due: rm-old-covertura, pytest-check

Enhance release workflow: add Python setup with caching for virtual environment and optimize checkout process
  .github/workflows/create-release.yaml
Due: none

Enhance figure generation tests: add mock for ProjectFigure file existence check
  tests/analysis/test_get_figures.py
Due: rm-old-covertura, pytest-check
